body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  display: inline;
  /* float: right; */
}

li a {
  /* display: block; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*------ ITEM DETAIL ------*/
.topContainer {
  background-color: blue;
  width: 100%;
  height: 300px;
  /* display: inline-block; */
}

/*LEFT CONTAINER*/
.leftGalleryContainer {
  max-width: 50%;
  background-color:green;

  float:left;
}

.gallery {
  max-width: 100%;
}

.active {
  max-width: 100%;
}

/*RIGHT CONTAINER*/
.rightProductInfoContainer {
  max-width: 50%;
  background-color: red;

  float:right;
}

.column {
  background-color: red;
  width: 50%;
  height: 100px;
  margin-top: 1px;
  float:left;
}